@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: linear-gradient(to left, white, black);
	background-repeat: no-repeat;
}

/*------------------------------------------------------------*/
h1{
	text-align: center;
	display: block;
	font-size: 70px;
	font-family: 'Poor Story', system-ui;
	margin-top: 50px;
	margin-bottom: 20px;
}
/*------------------------------------------------------------*/

/*Navigation*/

nav{
	position: sticky;
	padding: 15px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.navi > a{
	text-decoration: none;
	color: #fff;
	font-size: 50px;
	font-family: 'Poor Story', system-ui;
	padding-left: 20px;
}

.list ol{
	display: flex;
}

ol li{
	list-style: none;
	margin: 10px 10px;
}

ol a{
	text-decoration: none;
	color: black;
	font-size: 25px;
	font-family: ;
}

/*.list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.list li {
    display: block;
}

.list-toggle {
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}*/
/*------------------------------------------------------------*/

/* Header */

header{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 5rem;
}

.typo{
	max-width: 450px;
	width: 100%;
	height: auto;
	padding: 0 auto;
}

.typo p{
	color: white;
	font-size: 50px;
	text-align: right;
	font-family: 'Raleway', sans-serif;
}

.pic img{
	max-width: 450px;
	width: 100%;
	height: auto;
}

/*------------------------------------------------------------*/

/* About  */

#about {
/*	max-width: 500px;*/
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;

}

#about p{
	text-align: center;
	max-width: 1300px;
	width: 100%;
	padding: 2rem 3rem;
	font-size: 35px;
	font-weight: 20px;
	font-family: 'Raleway', sans-serif;
	color: #fff;
}

/*------------------------------------------------------------*/

/* Projects */

#projects{
	display: flex;
	justify-content: space-evenly;
	text-align: center;
	margin-top: 30px;
	align-items: center;
}

.cur-proj{
	margin-top: 10px;
}

.cur-proj a > img{
	border: 3px solid #ccc;
	border-radius: 20px;
	max-width: 25vw;
	width: 100%;
	height: auto;
}

.cur-proj p{
	padding-top: 20px;
	font-size: 2rem;
	color: #fff;
}

/*------------------------------------------------------------*/

/*------------------------------------------------------------*/

/* Tools */

.tool p{
	color: #fff;
	text-align: center;
}

.tools {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.tool-pic {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 50px;
	padding: 20px;
	margin: 30px auto;
}

.tool-pic img {
	border-radius: 42px;
/*	background: linear-gradient(45deg, #f0f0f0, #cacaca);*/
	box-shadow:  21px -21px 42px #b3b3b3,
             -21px 21px 42px #ffffff;
/*    border: 1px solid #cacaca;*/
}

/*------------------------------------------------------------*/

/*------------------------------------------------------------*/

/* Contact Me */


/*------------------------------------------------------------*/

/*------------------------------------------------------------*/

/* Footer */

footer {
	display: flex;
	background: #ccc;
	justify-content: center;
	align-items: center;
	gap: 20px;
	padding: 10px;
}





/*------------------------------------------------------------*/

/*------------------------------------------------------------*/

/* Media Queries  */

@media (max-width: 768px){
	header {
		flex-direction: column-reverse;
	}
	.typo p {
		text-align: center;
		margin-top: 10px;
		padding: 10px;
	}
	#projects {
/*		flex-wrap: wrap;*/
		flex-direction: column;
	}
}

@media (max-width: 562px) {
	.pic img {
		max-width: 250px;
	}
	.typo p {
		font-size: 30px;
	}
	#about p {
		font-size: 25px;
	}
	.list ol {
		display: none;
	}
	.tool-pic {
		flex-wrap: wrap;
	}
}

