@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	/*background: linear-gradient(to left, white, black);
	background-repeat: no-repeat;*/
	background: rgba(232, 222, 222, 1);
}

/*------------------------------------------------------------*/
h1{
	text-align: center;
	display: block;
	font-size: 70px;
	font-weight: 700;
	font-family: 'Raleway', sans-serif;
	margin-top: 40px;
	margin-bottom: 20px;
}
/*------------------------------------------------------------*/

a:hover {
      color: #000; /* Set the color you want for hover state */
    }


/*Navigation*/

nav{
	position: sticky;
	padding: 5px 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #fff;
	margin-bottom: 50px;
}
.navi > a{
	text-decoration: none;
	color: #000;
	font-size: 50px;
	font-family: 'Poor Story', system-ui;
	padding-left: 20px;
}

.list-toggle {
    display: none; /* Initially hide the hamburger icon */
}

.list ol{
	display: flex;
	margin-bottom: 0;
	align-items: center;
}

ol li{
	list-style: none;
	padding: 10px;
}

ol a{
	text-decoration: none;
	color: black;
	font-size: 25px;
	/* font-family: ; */
}

li:hover {
	background-color: #ccc;
	border-radius: 10px;
	padding: 0 10px 3px 10px;
}
/*------------------------------------------------------------*/

/* Header */

header{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 5rem;
}

.typo{
	max-width: 450px;
	width: 100%;
	height: auto;
	padding: 0 auto;
}

.typewriter {
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: .15em solid orange; /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	letter-spacing: .05em; /* Adjust as needed */
	animation: 
	  typing 3.5s steps(40, end),
	  blink-caret .75s step-end infinite;
}

.typo p{
	color: #000;
	font-size: 30px;
	text-align: right;
	font-family: 'Raleway', sans-serif;
}

.pic img{
	max-width: 450px;
	width: 100%;
	height: auto;
}

/*------------------------------------------------------------*/

/* About  */

#about2 {
/*	max-width: 500px;*/
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	margin-bottom: 30px;
	background: #413939;
	height: auto;
	padding: 30px;
	color: #fff;
}

#about2 p{
	text-align: center;
	max-width: 1000px;
	width: 100%;
	padding: 2rem 3rem;
	font-size: 2.5rem;
	font-weight: 20px;
	font-family: 'Raleway', sans-serif;
}

/*------------------------------------------------------------*/

/* Projects */

#projects1{
	display: flex;
	justify-content: space-evenly;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 50px;
	align-items: center;
	padding: 20px;
}

.cur-proj{
	margin-top: 10px;
	border-radius: 20px;
	background: linear-gradient(45deg, #ece9e9, #c7c4c4);
	box-shadow: 17px -17px 25px #a4a1a1,
             -17px 17px 25px #ffffff;
    padding: 20px;
    max-width: 26vw;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 100%;
}

.cur-proj a > img{
	border-radius: 20px;
	width: 100%;
	border-radius: 49px;
	aspect-ratio: 4/3;
}

.cur-proj p{
	padding: 20px;
	font-size: auto;
	color: #000;
}

/*------------------------------------------------------------*/

/*------------------------------------------------------------*/

/* Tools */

#tools1 {
	background: #413939;
	padding: 30px;
}

:root {
	--color-css: rgb(87, 87, 244);
	--color-html: orange;
	--color-js: yellow;
	--color-bootstrap: rgb(187, 4, 187);
	--color-express: #fff;
	--color-mongo: lightgreen;
	--color-node: #fff;
	--color-postman: orange;
	--color-git: red;
	--color-gitlab: orange;
	--color-react: skyblue;
	--color-sublime: rgb(240, 198, 80);
}

.tool p { 
	font-size: 2rem;
	color: #fff;
	text-align: center;
}

#tools1 h1 {
	padding-bottom: 20px;
	color: #fff;
	text-align: center;
}

.tools {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.tool-pic {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 50px;
	padding: 20px;
	margin: 30px auto;
	flex-wrap: wrap;
}

.tool-pic img {
	/* border-radius: 49px;
	background: linear-gradient(45deg, #ece9e9, #c7c4c4);
	box-shadow:  20px 20px 21px #c5bdbd,
             -20px -20px 21px #ffffff; */
	
    /* filter: blur(1.3px); */
  	transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.css {
	--color: var(--color-css);
}

.html {
	--color: var(--color-html);
}

.js {
	--color: var(--color-js);	
}

.react {
	--color: var(--color-react);	
}

.node {
	--color: var(--color-node);	
}

.bootstrap {
	--color: var(--color-bootstrap);	
}

.express {
	--color: var(--color-express);	
}

.mongo {
	--color: var(--color-mongo);	
}

.postman {
	--color: var(--color-postman);	
}

.sublime {
	--color: var(--color-sublime);	
}

.git {
	--color: var(--color-git);	
}

.gitlab	 {
	--color: var(--color-gitlab);	
}

.tool-pic img:hover {
	/* filter: blur(0); */
	filter: drop-shadow(2px 2px 15px var(--color));
  	transform: scale(1.1);
}

/*------------------------------------------------------------*/

/*------------------------------------------------------------*/

/* Contact Me */

#contact1 {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

#contact1 a {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: #000;
	font-size: 40px;
	transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#contact1 a:hover {
  	transform: scale(1.5);
}

/*------------------------------------------------------------*/

/*------------------------------------------------------------*/

/* Footer */

footer {
	display: flex;
/*	background: #f0f0f0;*/
	justify-content: center;
	align-items: center;
	gap: 20px;
	padding: 10px;
}

h4 {
	position: inherit;
	text-align: right;
}
h4 a {
	text-decoration: none;
	color: #000;
}


/*------------------------------------------------------------*/

/*------------------------------------------------------------*/

/* Keyframes */

@keyframes typing {
	from { width: 0; height: 100% }
	to { width: 100%; height: 100% }
  }
  
/* The typewriter cursor effect */
@keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: orange; }
}


/* Media Queries  */

@media (max-width: 768px){
	header {
		flex-direction: column-reverse;
	}
	.typo p {
		text-align: center;
		margin-top: 10px;
		padding: 10px;
	}
	#projects1 {
		flex-wrap: wrap;
	}
	.tool-pic {
		flex-wrap: wrap;
	}
}

@media (max-width: 562px) {
	.pic img {
		max-width: 250px;
	}
	.typo p {
		font-size: 30px;
	}
	#about2 p {
		font-size: 25px;
	}
	.list ol {
		display: none;
	}
	.tool-pic {
		flex-wrap: wrap;
	}
	#projects1 {
		flex-direction: column;
	}

	.list-toggle {
        display: block; /* Display the hamburger icon */
        cursor: pointer;
    }

    .list ol {
        display: none; /* Hide the list */
    }

    .list ol.active {
        display: block; /* Show the list when active */
    }
}

